@import "common";
@import "register";
@import "admin";

.index-wrapper {
  height: calc(100% - 60px);
  width: 100%;
}

.fast-register {
  width: 100%;
  background-image: url("img/background.jpg");
  background-size: cover;
  height: 60%;
  .fast-register-wrapper {
    background-color: rgba(0,0,0,0.4);
    z-index: 50;
    height: 100%;
    width: 100%;
  }
  .fast-register-form {
    z-index: 100;
    top: 20% !important;
    > h2 {
      color: white;
    }
  }
}
.course-wrapper {
  height: 40%;
  margin-top: 30px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  h2 {
    text-align: center;
  }
  .course-list {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .course {

    img {
      max-width: 300px;
      max-height: 125px;
    }
    .title {
      margin-top: 10px;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
  }

}

.dashboard-wrapper {

}